<div class="flex-col prose">
  <h1>Editing guitar</h1>

  <%= render "form", guitar: @guitar %>

  <br>

  <div>
    <%= link_to "Show this guitar", [:admin, @guitar] %> |
    <%= link_to "Back to guitars", admin_guitars_path %>
  </div>
</div>
